body {
    padding: 0;
    margin: 0;
}

#nav {
    background-color: rgb(41, 0, 80);
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav ul li {
    list-style: none;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    /*desgruda*/
    font-size: 30px;
}

#nav ul#menu li {
    float: left;
    border-radius: 8px;
}

#nav ul.right li {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 10px
}

.center {
    text-align: center;

}

.col- {
    float: left;
}

/*Grid com 12 colunas*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%;
    float: left;
}

.col-4 {
    width: 33.33%;
    float: left;
}

.col-5 {
    width: 41.66%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.31%
}

.col-8 {
    width: 66.66%
}

.col-9 {
    width: 74.97%
}

.col-10 {
    width: 83.3%
}

.col-11 {
    width: 91.63%
}

.col-12 {
    width: 100%
}

form {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #CC3300;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #66FFFF;
    text-shadow: 5px 5px 5px black;
}

input,
textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}