*{padding: 0px;
    margin: 0;
    box-sizing: border-box;}
    :root { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    
    
    
    .container {
        width: 1140px;
        margin: auto;
        max-width: 100%;
    }
    
    
    
    body {
    font-family: var(--fonte-principal);
    }
    
    #nav {
        background-color: rgb(41, 0, 80);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #nav ul li{
        list-style: none;
        display: inline;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px; /*desgruda*/
        font-size: 30px;
    }
    
    #nav ul#menu li {
        float: left;
        border-radius: 8px;
    }
    
    #nav ul.right li {
        float: right;
    }
    .clearfix::before,
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
    
    #nav ul li a {
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        text-decoration: none;
    }
    
    #nav ul li a {
        margin: 10px
    }